<div class="work-card" [ngClass]="{'work-card_reverse': reverse}">
    <ng-container *ngIf="imageList.length > 1 else simpleImage">
      <app-photo-slider
        class="work-card__img-slider"
        [width]="350"
        [imageList]="imageList"/>
    </ng-container>

    <ng-template #simpleImage>
      <div class="work-card__image"
           aria-hidden="true">
        <app-photo [photoItem]="imageList[0]" [ariaHidden]="true"/>
      </div>
    </ng-template>

  <div class="work-card__info">
    <h2 class="work-card__title"
    >
      <span class="sr-only">{{'PAGES.WORKS.CARD.PROJECT' | translate}}</span>
      {{work.NAME | translate}}</h2>
    <p class="work-card__description">{{work.DESCRIPTION_SHORT | translate}}</p>
    <span class="sr-only">{{'PAGES.WORKS.CARD.STACK' | translate}}</span>
    <ul class="work-card__stack stack-list">
      <li *ngFor="let skill of work.STACK" class="stack-list__item">
        <mat-icon [svgIcon]="skill | lowercase"></mat-icon>
        <span>{{skill}}</span>
      </li>
    </ul>
    <div class="work-card__buttons">
      <a class="work-card__github"
         [tabIndex]="(tabIndexes$ | async)?.MAIN_CONTENT"
         *ngIf="work.GITHUB"
         [href]="work.GITHUB">
        <mat-icon [svgIcon]="'social-github'"></mat-icon>
        {{'PAGES.WORKS.CARD.GITHUB' | translate}}
      </a>
      <a class="work-card__more"
         [tabIndex]="(tabIndexes$ | async)?.MAIN_CONTENT"
         *ngIf="(currentLang$ | async)?.iso2 as lang"
         [routerLink]="'/'+(lang === defaultLang ? '' : (lang | lowercase)+'/') + 'works/'+ (work.KEY | lowercase)">
        <span>{{'PAGES.WORKS.CARD.MORE' | translate}}</span>
        <mat-icon [svgIcon]="'next'"></mat-icon>
      </a>
    </div>
  </div>
</div>

