@import "src/assets/styles/constructor-mixins";

.modals {
  opacity: 0;
  &_active {
    opacity: 1;
    transition: all 300ms ease-in-out;
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--modal-overflow);
    z-index: var(--z-index-modals);

    .modals__container {
      width: max-content;
      max-width: 100vw;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      @include Media('table') {
        max-width: 60vw;
      }

      @include Media('mobile') {
        max-width: 80vw;
      }
    }
  }
}
