<div class="project">

  <div class="project__main-img">
    <img src="/assets/img/projects/helltv/helltv-main.png" alt="Vladislav ushmankin. HELLTV main image"/>
  </div>

  <div class="project__container">
    <div class="project__group">
      <app-breadcrumb [breadcrumbs]="breadcrumbs"/>
      <h1>{{'PROJECTS.HELLTV.NAME' | translate}}</h1>
      <p>{{'PROJECTS.HELLTV.DESCRIPTION_SHORT' | translate}}</p>
      <p>{{'PROJECTS.HELLTV.DESCRIPTION' | translate}}</p>
      <h2>{{'PAGES.PROJECTS.BASE.STACK' | translate}}</h2>
      <div class="work-card__stack stack-list">
        <div *ngFor="let skill of project.STACK" class="stack-list__item">
          <mat-icon [svgIcon]="skill | lowercase"></mat-icon>
          <span>{{skill}}</span>
        </div>
      </div>
      <a class="project__visit-button"
         [href]="project.URL"
         [target]="'_blank'"
         [tabIndex]="(tabIndexes$ | async)?.MAIN_CONTENT"
      >
        {{'PAGES.PROJECTS.BASE.VISIT' | translate}}
      </a>
    </div>

    <div class="project__group">
      <h2>{{'PAGES.PROJECTS.BASE.SCREENSHOTS' | translate}}</h2>
      <app-photo-slider *ngIf="previewList" [imageList]="previewList" class="project__preview-slider"/>
    </div>
  </div>

  <div class="project__slider-container">
    <app-presentation-slider
      *ngIf="sliderItems[0].length"
      class="project__slider"
      [items]="sliderItems[0]"/>
  </div>

  <div class="project__container">
    <div class="project__group">
      <div class="project__point point">
        <span class="point__mark">1. </span>
        <h2>{{'PAGES.PROJECTS.BASE.ROLE' | translate}}</h2>
      </div>
      <p>{{'PROJECTS.HELLTV.ROLE_DESCRIPTION' | translate}}</p>
    </div>
    <div class="project__group">
      <div class="project__point point">
        <span class="point__mark">2. </span>
        <h2>{{'PAGES.PROJECTS.HELLTV.GAMES' | translate}}</h2>
      </div>
      <div class="project__point point">
        <span class="point__mark">2.1. </span>
        <h3>{{'PAGES.PROJECTS.HELLTV.UPGRADE.NAME' | translate}}</h3>
      </div>
      <div class="project__point point">
        <span class="point__mark">2.1.1. </span>
        <h4>{{'PAGES.PROJECTS.HELLTV.GAME_DESCRIPTION' | translate}}</h4>
      </div>
      <p>{{'PAGES.PROJECTS.HELLTV.UPGRADE.DESCRIPTION' | translate}}</p>
      <img src="/assets/img/projects/helltv/helltv-demo-3.gif" alt="" class="accordion__img"/>
      <div class="project__point point">
        <span class="point__mark">2.1.2. </span>
        <h4>{{'PAGES.PROJECTS.BASE.TASK' | translate}}</h4>
      </div>
      <p>{{'PAGES.PROJECTS.HELLTV.UPGRADE.TASK' | translate}}</p>
      <img src="/assets/img/projects/helltv/helltv-page-4.png" alt=""/>
      <div class="project__point point">
        <span class="point__mark">2.2. </span>
        <h3>{{'PAGES.PROJECTS.HELLTV.SAMURAI.NAME' | translate}}</h3>
      </div>
      <div class="project__point point">
        <span class="point__mark">2.2.1. </span>
        <h4>{{'PAGES.PROJECTS.HELLTV.GAME_DESCRIPTION' | translate}}</h4>
      </div>
      <p>{{'PAGES.PROJECTS.HELLTV.SAMURAI.DESCRIPTION'| translate}}</p>
      <img src="/assets/img/projects/helltv/helltv-demo-1.gif" alt="" class="accordion__img"/>
      <img src="/assets/img/projects/helltv/helltv-demo-2.gif" alt="" class="accordion__img"/>
      <div class="project__point point">
        <span class="point__mark">2.2.2. </span>
        <h4>{{'PAGES.PROJECTS.BASE.TASK' | translate}}</h4>
      </div>
      <p>{{'PAGES.PROJECTS.HELLTV.SAMURAI.TASK' | translate}}</p>
      <div class="project__point point">
        <span class="point__mark">2.2.3. </span>
        <h4>{{'PAGES.PROJECTS.HELLTV.GAME_PAGES' | translate}}</h4>
      </div>
      <div class="project__point point">
        <span class="point__mark">2.2.3.1. </span>
        <h4>{{'PAGES.PROJECTS.HELLTV.SAMURAI.MAIN_PAGE.NAME' | translate}}</h4>
      </div>
      <p>{{'PAGES.PROJECTS.HELLTV.SAMURAI.MAIN_PAGE.DESCRIPTION' | translate}}</p>
      <img src="/assets/img/projects/helltv/helltv-page-3.png" alt=""/>
      <div class="project__point point">
        <span class="point__mark">2.2.3.2. </span>
        <h4>{{'PAGES.PROJECTS.HELLTV.SAMURAI.GAME_PAGE.NAME' | translate}}</h4>
      </div>
      <p>{{'PAGES.PROJECTS.HELLTV.SAMURAI.GAME_PAGE.DESCRIPTION' | translate}}</p>
      <img src="/assets/img/projects/helltv/helltv-page-2.png" alt=""/>
    </div>
    <div class="project__group">
      <div class="project__point point">
        <span class="point__mark">3. </span>
        <h2>{{'PAGES.PROJECTS.BASE.OTHER_RESPONSIBILITIES' | translate}}</h2>
      </div>
      <div class="project__point point">
        <span class="point__mark">3.1. </span>
        <h3>{{'PAGES.PROJECTS.BASE.TEACHING' | translate}}</h3>
      </div>
      <p>{{'PAGES.PROJECTS.HELLTV.TEACHING' | translate}}</p>
      <div class="project__point point">
        <span class="point__mark">3.2. </span>
        <h3>{{'PAGES.PROJECTS.BASE.CODE_REVIEW.NAME' | translate}}</h3>
      </div>
      <p>{{'PAGES.PROJECTS.BASE.CODE_REVIEW.DESCRIPTION' | translate}}</p>
      <div class="project__point point">
        <span class="point__mark">3.3. </span>
        <h3>{{'PAGES.PROJECTS.BASE.SENTRY.NAME' | translate}}</h3>
      </div>
      <p>{{'PAGES.PROJECTS.BASE.SENTRY.DESCRIPTION' | translate}}</p>
      <img src="/assets/img/other/sentry.png" alt="">
    </div>
  </div>

  <div class="project__slider-container">
    <app-presentation-slider
      class="project__slider"
      *ngIf="sliderItems[1].length"
      [reversed]="true"
      [items]="sliderItems[1]"/>
  </div>
</div>
