<svg
  width="100%"
  height="100%"
  viewBox="0 250 300 300"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  aria-hidden="true"
  role="presentation"
  class="index-page__animated-text">
  <path id="text-path-index" d="m 66 103 c 1 176 1 216 52 216 c 156 1 156 143 2 143 c -28 3 -53 27 -53 59 l 0 256" fill="none" stroke="none"/>
  <text font-size="16" fill="var(--color-main)">
    <textPath xlink:href="#text-path-index" startOffset="0%" id="text-path-animation-index">
      VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN
    </textPath>
  </text>

  <animate
    xlink:href="#text-path-animation-index"
    attributeName="startOffset"
    from="-110%"
    to="0%"
    dur="60s"
    repeatCount="indefinite"
  />
</svg>
