<div class="index-page">
  <h2 class="index-page__title"
     [attr.aria-label]="('PAGES.INDEX.AND_IM' | translate) + ' ' + ('PAGES.INDEX.FRONTEND' | translate) + ' ' + ('PAGES.INDEX.DEVELOPER' | translate)">
    <p
       appTranslateAnimation
       aria-hidden="true">
      {{'PAGES.INDEX.AND_IM' | translate}}
    </p>
    <p class="index-page__title-part"
       appTranslateAnimation
       aria-hidden="true">
      {{'PAGES.INDEX.FRONTEND' | translate}}
    </p>
    <p class="index-page__title-part"
       appTranslateAnimation
       aria-hidden="true">
      {{'PAGES.INDEX.DEVELOPER' | translate}}
    </p>
  </h2>

<!--  <app-index-photo class="index-page__photo"/>-->
  <div class="index-page__bg"></div>

  <app-index-path-text/>
</div>
