<div class="wrapper"
     [ngStyle]="{'--background-url': 'url(assets/img/'+((currentMode$ | async) === 'light'? 'light.png' : 'dark.png') +')'}"
     [attr.aria-hidden]="!!((modals$ | async)?.length)"
>
  <div class="app" [ngClass]="{'app_full-page': isFullPage}">
    <div class="app__nav-wrapper">
      <app-navigation class="app__nav"/>
    </div>

    <div class="app__title-wrapper">
      <app-title class="app__title" [animationState]="(isMobile$ | async) ? 'void' : o?.activatedRouteData?.['animation']"/>
    </div>

    <div class="app__pages-wrapper"
         aria-live="polite"
         [@routeAnimations]="o?.activatedRouteData?.['animation']"
         (@routeAnimations.start)="onRouterAnimationStart()"
         (@routeAnimations.done)="onRouterAnimationDone()">

        <mat-icon [svgIcon]="'scroll-down'" class="app__scroll-icon" [ngClass]="{'app__scroll-icon_scrolled': scrolled || isFullPage}"/>

        <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>

  <app-mobile-navigation-panel
    class="app__mobile-btns"
    [animationState]="mobileButtonAnimationState"
    *ngIf="!isFullPage && (currentLinkData$ | async)?.nextPage"/>

  <div class="panels" [ngClass]="{ 'panels_bordered': (currentMode$ | async) === 'light'}">
    <div class="panel panel_right">
      <app-navigation-indicator *ngIf="!isFullPage"/>
    </div>

    <header class="panel panel_top header">
      <div></div>
      <a class="header__logo main-color-bg" aria-hidden="true"
         *ngIf="(currentLang$ | async)?.iso2 as lang"
         [routerLink]="'/'+(lang === defaultLang ? '' : (lang | lowercase))"
      ><mat-icon [svgIcon]="'logo'"/></a>
      <div><app-light-mode-button/></div>
    </header>

    <div class="panel panel_left"></div>

    <div class="panel panel_bottom">
      <div></div>
      <div>
        <button
          class="panel__button lang-button"
          [attr.aria-label]="'ACCESSIBILITY.BUTTONS.CHANGE_LANGUAGE' | translate"
          [tabIndex]="(tabIndexes$ | async)?.SETTINGS"
          *ngIf="{value: (currentLang$ | async)} as lang"
          (click)="openLanguageModal()">
          <img src="https://flagcdn.com/w40/{{lang.value?.iso2 | lowercase}}.png" [alt]="lang.value?.name"/>
        </button>
      </div>
    </div>
  </div>
</div>

<button
  [attr.aria-label]="'ACCESSIBILITY.BUTTONS.SCROLL_TO_TOP' | translate"
  class="app__to-top-button"
  [ngClass]="{'app__to-top-button_hidden': !isToTopButtonVisible}"
  (click)="scrollToTop()">
  <mat-icon [svgIcon]="'logo'"/>
</button>

<app-modals/>

<app-cursor aria-hidden="true"/>
