@import "src/assets/styles/constructor-mixins";

@include Media('bigMobile') {
  .img-slider {
    &__indicator {
      width: 100%;
    }
  }
}

@include Media('table') {
  .img-slider {
    grid-area: image;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    align-self: center;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    margin: 0 auto;

    &__indicator {
      position: absolute;
      top: 0;
      z-index: 2;
      padding: 4px 16px;
      width: 100%;
      display: flex;
      gap: 2px;
    }

    &__indicator-point {
      flex-grow: 1;
      border-radius: 3px;
      border-width: 0;
      height: 6px;
      background: var(--color-gray-50);
      cursor: pointer;
      opacity: .5;

      &_active {
        opacity: .75;
        background: var(--color-main);
      }
    }

    &__btn {
      position: absolute;
      top: 0;
      z-index: 1;
      height: 100%;
      border-width: 0;
      cursor: pointer;
      background-color: transparent;
      transition: background-color 150ms ease-in-out;
      color: var(--color-text);
      opacity: .5;

      mat-icon {
        padding: 4px;
        background-color: var(--color-background-50);
        transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
      }

      &:hover {
        background-color: var(--color-background-50);
        opacity: 1;

        mat-icon {
          background-color: transparent;
          box-shadow: none;
        }
      }

      &_next {
        right: 0;
      }

      &_back {
        left: 0;
      }
    }
  }
}
