<svg
  width="100%"
  height="100%"
  viewBox="0 0 300 32"
  xmlns="http://www.w3.org/2000/svg"
  aria-hidden="true"
  role="presentation"
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <path id="text-path-navigation" d="M -100 16 L 350 16" fill="none" stroke="none"/>
  <text font-size="32" fill="var(--color-main)" dominant-baseline="middle">
    <textPath xlink:href="#text-path-navigation" startOffset="0%" id="text-path-animation-navigation">
      VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN VLADISLAV USHMANKIN
    </textPath>
  </text>

  <animate
    xlink:href="#text-path-animation-navigation"
    attributeName="startOffset"
    from="-110%"
    to="0%"
    dur="35s"
    repeatCount="indefinite"
  />
</svg>
