
.mdc-tooltip__surface {
  background-color: var(--color-background-hover) !important;
  color: var(--color-text) !important;
  font-size: .75rem !important;
  border-radius: 8px !important;
  text-align: center !important;
  padding: 8px 16px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5) !important;
}
