<div class="details-page">
  <app-breadcrumb class="details-page__breadcrumb" [breadcrumbs]="breadcrumbs"/>
  <h1 class="details-page__h1">{{'SEO.DETAILS.NAVIGATION' | translate}}</h1>
  <!-- ANIMATED MAIN BLOCK --->
  <div class="details-page__group details-page__group_main">
    <div class="details-page__animated-main-block animated-main-block"
         [ngClass]="{'animated-main-block_fixed': scrolled}"
         [@detailsMainBlockAnimation]="{
           value: currentAdaptation === 'mobile' ? 'static' : mainBlockAnimationState,
           params: currentAdaptation === 'table' ? tableAnimationParams : desktopAnimationParams
         }">

      <div class="animated-main-block__photo">
        <app-photo [photoItem]="myPhoto" [tabIndex]="(tabIndexes$ | async)?.MAIN_CONTENT"/>
        <div class="animated-main-block__socials socials" *ngIf="!scrolled" [@mainDataAnimation]="mainDataAnimationState">
          <a *ngFor="let social of socials"
             [tabIndex]="(tabIndexes$ | async)?.MAIN_CONTENT"
             [attr.aria-label]="('ACCESSIBILITY.CONTACTS.'+(social[0] | uppercase)) | translate"
             [href]="social[1]"
             rel="noopener noreferrer"
             target="_blank"
             class="socials__link">
            <mat-icon [svgIcon]="'social-'+social[0] | lowercase"/>
          </a>
        </div>
      </div>

      <div *ngIf="scrolled; else mainInfoContent"
           [@fixedDataAnimation]="mainDataAnimationState"
           class="animated-main-block__fixed-data">
        <div class="animated-main-block__socials socials_fixed" >
          <a *ngFor="let social of socials"
             [tabIndex]="(tabIndexes$ | async)?.MAIN_CONTENT"
             [attr.aria-label]="('ACCESSIBILITY.CONTACTS.'+(social[0] | uppercase)) | translate"
             [href]="social[1]"
             rel="noopener noreferrer"
             target="_blank"
             class="socials__link">
            <mat-icon [svgIcon]="'social-'+social[0] | lowercase"/>
            <span>{{('SOCIALS.'+(social[0] | uppercase)) | translate}}</span>
          </a>
          <a *ngIf="(currentLang$ | async)?.lang as lang"
             [tabIndex]="(tabIndexes$ | async)?.MAIN_CONTENT"
             [routerLink]="'/'+(lang === defaultLang ? '' : (lang | lowercase)+'/') + 'contact'"
             class="socials__email">
            {{'PAGES.DETAILS.SEND_EMAIL' | translate}}
          </a>
        </div>
      </div>

      <ng-template #mainInfoContent>
          <div class="animated-main-block__group animated-main-block__group_name" [@mainDataAnimation]="mainDataAnimationState">
            <span>{{'PAGES.DETAILS.MY_NAME' | translate}}</span><h2 class="main-color">{{'DATA.NAME' | translate}}</h2>
          </div>

          <div class="animated-main-block__group animated-main-block__group_hobbies" [@mainDataAnimation]="mainDataAnimationState">
            <h3>{{'PAGES.DETAILS.HOBBIES' | translate}}</h3>
            <div class="hobbies">
              <div *ngFor="let hobby of hobbies" class="hobbies__item">
                <mat-icon [svgIcon]="hobby.icon" class="hobbies__item-icon"/>
                <div class="hobbies__item-name">{{hobby.name | translate}}</div>
              </div>
            </div>
          </div>

          <div class="animated-main-block__group animated-main-block__group_languages" [@mainDataAnimation]="mainDataAnimationState">
            <h3>{{'PAGES.DETAILS.LANGUAGES.TITLE'| translate}}</h3>
            <div class="details-page__tags tags">
              <app-tag *ngFor="let skill of languages"
                       [title]="skill.title"
                       [filled]="skill.isMain"
                       [description]="skill.description"
              ></app-tag>
            </div>
          </div>
      </ng-template>
    </div>
  </div>

  <!-- EXPERIENCE BLOCK --->
  <div class="details-page__group">
    <h3>
      {{'PAGES.DETAILS.EXPERIENCE.TITLE'| translate}}
    </h3>
    <p>{{'PAGES.DETAILS.EXPERIENCE.DATE' | translate}}: {{experienceStartDate | dateAgo : {showMonths: true, showYears: true} }}</p>
    <p>{{'PAGES.DETAILS.EXPERIENCE.DESCRIPTION'| translate}}</p>
  </div>

  <!-- AIMS BLOCK --->
  <div class="details-page__group">
    <h3>{{'PAGES.DETAILS.AIMS.TITLE'| translate}}</h3>
    <p>{{'PAGES.DETAILS.AIMS.DESCRIPTION'| translate}}</p>
  </div>

  <!-- SKILLS BLOCK --->
  <div class="details-page__group details-page__group_skills">
    <h3>{{'PAGES.DETAILS.SKILLS.TITLE'| translate}}</h3>
    <div class="details-page__tags tags">
      <app-tag *ngFor="let skill of skills"
               [title]="skill.title"
               [filled]="skill.isMain"
               [description]="skill.description"/>
    </div>
  </div>

  <!-- LOCATION BLOCK --->
  <div class="details-page__group details-page__group_location location">
    <h3>{{'PAGES.DETAILS.TRAVEL.TITLE'| translate}}</h3>
    <p>{{'DATA.CURRENT_LOCATION' | translate}} ({{'DATA.CURRENT_TIME_ZONE'| translate}})</p>
    <p>{{'PAGES.DETAILS.TRAVEL.DESCRIPTION' | translate}}</p>
    <div class="location__imgs">
      <app-photo
        class="location__img"
        [ngClass]="{'location__img_main': index === 1}"
        *ngFor="let photo of locationPhotos; let index = index"
        [photoItem]="photo"
        [photoSet]="locationPhotos"
      />
    </div>
  </div>

  <!-- ARTS BLOCK --->
  <div class="details-page__group details-page__group_arts arts">
    <h3>{{'PAGES.DETAILS.ARTS.TITLE'| translate}}</h3>
    <p>{{'PAGES.DETAILS.ARTS.DESCRIPTION'| translate}}</p>
    <div class="arts__imgs">
      <app-photo
        class="location__img"
        [ngClass]="{'arts__img_main': index === 1}"
        *ngFor="let photo of artWorks; let index = index"
        [photoItem]="photo"
        [photoSet]="artWorks"
      />
    </div>
  </div>

  <!-- END BLOCK --->
  <div class="details-page__group">
    <p>{{'PAGES.DETAILS.END'| translate}}</p>
  </div>
</div>
